<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdut.mapper.BorrowInfoMapper">

    <resultMap id="BaseResultMap" type="com.sdut.entity.BorrowInfo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="borrowDate" column="borrow_date" jdbcType="TIMESTAMP"/>
        <result property="returnDate" column="return_date" jdbcType="TIMESTAMP"/>
        <result property="information" column="information" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>
